@model Galeria.Zdjecie_c
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zdjecie</title>
</head>
<body>
    <div>
       @using (Html.BeginForm())
       {
           @Html.LabelFor(model => model.Tytul)
           @Html.TextBoxFor(model => model.Tytul)
           @Html.LabelFor(model => model.Zdjecie)
           <input type="file" name="Zdjecie"/>
           <input type="submit" value="Wstaw"/>
       }
    </div>
</body>
</html>

